body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #searchResult {
    margin-top: 20px;
  }
  
  #searchResult div {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #searchResult img {
    max-width: 100%;
    height: auto;
  }
  